@import 'tailwindcss';

/* .input {
  @apply w-full p-2 border border-gray-300 rounded-lg outline-none focus:ring-2 focus:ring-purple-400;
} */

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e7eb; /* OFF background */
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #7c3aed; /* Purple circle when OFF */
  transition: 0.4s;
  border-radius: 50%;
}

/* ON State */
input:checked + .slider {
  background-color: #7c3aed; /* Purple background */
}

input:checked + .slider:before {
  background-color: white;   /* White circle when ON */
  transform: translateX(22px);
}

